.edit-profile-container {
  background-color: #333;
  padding: 0px 30px;
}

.edit-profile {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.edit-profile h2 {
  color: #fff;
  margin-top: 0px;
}

.edit-profile-header {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.edit-profile-header h1 {
  margin-bottom: 0px;
}

.added-education,
.added-job-experience {
  height: 40px;
  border: 1px solid #28719d;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px 20px 20px 0px;
}

.added-education p,
.added-job-experience p {
  margin: 0px;
  font-weight: 500;
  color: #28719d;
}

.delete-education,
.delete-job-experience {
  cursor: pointer;
}
