.logo {
  height: 60px;
  width: 60px;
  margin-left: 100px;
}

.right-aligned {
  float: right;
}

.nav-link {
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
}

.navbar {
  padding-top: 20px;
}

.header-section {
  background: linear-gradient(45deg, #fbea78, #fcdd35);
}

.hero-section {
  padding: 50px 200px 0px 200px;
}

.hero-section .header-text {
  margin-bottom: 50px;
  text-align: center;
}

.hero-section .header-text h5 {
  margin-bottom: 10px;
}

.hero-section .header-text h3 {
  margin-bottom: 10px;
}

.hero-section h5 {
  margin-bottom: 50px;
  line-height: 1.35;
}

.hero-section button {
  border: solid 1px black;
  background-color: Transparent;
  border-radius: 2%;
  height: 55px;
  width: 150px;
  cursor: pointer;
}

.intro-text {
  margin-top: 100px;
}

.application-section {
  height: 500px;
  padding: 50px 200px 100px 200px;
  background-color: #fff;
  text-align: center;
}

.application-section h3 {
  text-align: center;
}

.application-section h5 {
  text-align: center;
}

.application-section p {
  text-align: center;
  margin-top: 50px;
}

.application-section img {
  max-width: 50%;
  height: auto;
}

.employer-section {
  background-color: #f8f8f8;
  height: 500px;
}

.employer-info-text {
  padding: 100px 50px 0 150px;
}

.employer-section h3 {
  margin-bottom: 30px;
}

.employer-section h5 {
  margin-bottom: 30px;
}

.yellow-column {
  background-color: #fae28c;
  width: 200px;
  height: 500px;
  position: absolute;
  margin-left: 205px;
}

.find-out-more-section {
  height: 300px;
  text-align: center;
  margin-top: 50px;
}

.find-out-more-section input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  height: 60px;
  width: 300px;
  padding: 30px;
  margin-top: 30px;
  margin-right: 20px;
}

.find-out-more-section button {
  background: linear-gradient(45deg, #fbea78, #fcdd35);
  border: none;
  height: 60px;
  width: 130px;
  color: white;
}

.footer {
  background-color: #2a2a2a;
  text-align: center;
  padding: 50px;
}

.footer img {
  height: 60px;
  width: 60px;
}

.footer p {
  color: #c8c8c8;
  margin-top: 30px;
}
