.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.navbar img {
  height: 123px;
  width: auto;
  padding: 0px 50px;
}

.nav-links a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #343434;
  text-decoration: none;
  margin-right: 80px;
  font-size: 16px;
}

.hero-section {
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  background-color: #fff;
}

.hero-section h1 {
  font-family: "Butler";
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.5px;
  text-align: right;
  color: #343434;
  margin-right: 50px;
}

.explainer-section {
  background-color: #ecd252;
  padding: 88px 0px 0px 50px;
  display: flex;
}

.explainer-section h3 {
  font-family: Butler;
  font-size: 50px;
  font-weight: 500;
  line-height: 0.92;
  letter-spacing: 0.3px;
}

.explainer-section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 29px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: left;
  color: #2e2e2e;
}

.get-started-button {
  background-color: transparent;
  border: #fff 3px solid;
  color: #fff;
  border-radius: 10px;
  height: 86px;
  padding: 0px 30px;
  font-size: 38px;
  cursor: pointer;
  margin-left: 30px;
}

.boring-resume-section {
  background-color: #fff;
  padding: 50px;
}

.boring-resume-section h2 {
  font-family: Butler;
  font-size: 67px;
  font-weight: 500;
  color: #343434;
}

.boring-resume-section h3 {
  font-family: Butler;
  font-size: 42px;
  line-height: 1.19;
  letter-spacing: 0.2px;
  color: #343434;
  font-weight: normal;
  max-width: 1099px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  margin: 93px 173px;
}

.step {
  text-align: center;
}

.step img {
  height: 255px;
  width: auto;
}

.step h4 {
  font-size: 38px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76;
  letter-spacing: 0.2px;
  text-align: center;
  color: #2e2e2e;
  margin: 20px auto;
}

.step h5 {
  font-family: Butler;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: 0.1px;
  text-align: center;
  color: #2e2e2e;
  max-width: 250px;
  margin: 0 auto;
}

.boring-resume-footer {
  height: 100%;
}

.boring-resume-footer h3,
.boring-resume-footer h2 {
  text-align: right;
  margin: 20px 0px;
  max-width: initial;
}

.employer-section {
  background-color: #24729b;
  padding: 100px 125px;
}

.employer-section h2,
.employer-section p {
  color: #fcfcfc;
}

.employer-section h2 {
  text-align: right;
  font-family: Butler;
  font-size: 67px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #fcfcfc;
}

.employer-section p {
  font-size: 33px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.employer-section-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employer-section-footer button {
  background-color: transparent;
  border: #fff 3px solid;
  color: #fff;
  border-radius: 10px;
  height: 86px;
  padding: 0px 30px;
  font-size: 38px;
  cursor: pointer;
  margin-top: 30px;
}

.footer {
  background-color: #fff;
  padding: 67px 72px;
}

.social-icons {
  text-align: center;
  margin-bottom: 20px;
}

.copyright-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-and-links a,
.copyright-and-links p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #343434;
  text-decoration: none;
  margin-right: 80px;
  font-size: 16px;
}
