.my-profile {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 160px;
}

.header {
  padding: 0px 60px 60px 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.image-placeholder {
  height: 250px;
  width: 250px;
  background-color: red;
  border-radius: 50%;
}

.name-and-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name-and-photo h1 {
  font-size: 24px;
  margin: 0px;
}

.name-and-photo h2 {
  font-size: 20px;
  margin: 0px;
}

.name-and-title {
  margin-left: 30px;
}

.profile-body {
  background-color: rgb(236, 210, 82);
  width: 100%;
}

.profile-body-inner-section {
  background-color: rgb(236, 210, 82);
  margin: 0 auto;
  padding: 100px;
}

.large-white-rectangle {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
}

.large-white-rectangle h3 {
  font-size: 28px;
  margin: 0px;
}

.large-white-rectangle p {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-weight: 300;
}

.profile-body button {
  height: 114px;
  font-size: 28px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.profile-body button:focus {
  outline: none;
}

.contact-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-information h3 {
  margin-bottom: 20px;
}

.contact-information p {
  margin: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.contact-information p img {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.medium-white-rectangle {
  min-height: 141px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 20px 0px;
  text-align: center;
  height: 330px;
  padding: 20px;
}

.medium-white-rectangle p {
  font-size: 14px;
  margin: 0px;
}

.medium-white-rectangle h2 {
  font-size: 26px;
  font-weight: 500;
}

.center-content {
  text-align: center;
}

.skill {
  margin: 20px 0px;
}

.skill-body {
  column-count: 2;
}

.skill-name {
  margin-bottom: 0px !important;
  font-size: 16px !important;
}

.skill-experience {
  margin: 0px !important;
}

.about-me p {
  max-height: 480px;
  overflow: hidden;
}

.about-me {
  height: 674px;
}

.view-more {
  cursor: pointer;
  color: #d94c43;
  margin-top: 20px !important;
}

.view-more {
  text-decoration: none;
  color: #d94c43;
}

.view-more:visited {
  color: #d94c43;
}

.medium-white-rectangle .list-item {
  margin: 10px auto;
  cursor: pointer;
}

.my-personality-type-img {
  position: absolute;
  height: 600px;
  width: auto;
  top: -50px;
  left: -21px;
}

.personality-info {
  position: relative;
  top: 260px;
}

.personality-info p {
  max-height: 220px;
  overflow: hidden;
}

.profile-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-upload + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #e6e6e6;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.my-personality-type-badge-img {
  display: none;
}

@media screen and (max-width: 991px) {
  .my-personality-type-img {
    display: none;
  }

  .my-personality-type-badge-img {
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  .personality-info {
    top: 0px;
  }
}
