.header-text {
  margin-bottom: 30px;
}

.progress-labels-container {
  position: relative;
}

.progress-labels {
  display: inline-block;
  position: absolute;
  color: #333;
  top: -25px;
}

.start-label {
  left: 0px;
}

.end-label {
  right: 0px;
}
