.question {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  border: #aaa 2px solid;
}

.question:hover {
  border: #1db0ed 2px solid;
}

.question label {
  margin: 0 20px;
  font-weight: 300;
}

.question input {
  margin-right: 10px;
}
