.results-container {
  padding: 40px;
  background-color: #fff;
  max-width: 800px;
  padding-left: 33%;
}

.description {
  border: red 2px solid;
  border-radius: 5px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

.results-container h2 {
  text-align: center;
  font-family: Butler;
}

.results-list {
  list-style-type: none;
  font-family: Butler;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 20px;
}

.results-list li {
  font-size: 18px;
}

.results-container button {
  background-color: #28719d;
  border: none;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 2px;
  margin-top: 50px;
  cursor: pointer;
  float: right;
}
