.signup-container {
  padding: 20px;
  background-color: #fff;
  max-height: 800px;
}

.signup-container button {
  background-color: #1db0ed;
  border: none;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 2px;
  margin-top: 50px;
  cursor: pointer;
}

.signup-container h2 {
  margin-bottom: 40px;
}
